<!DOCTYPE html>
<html class="no-js">
    <head>
    </head>
    <body>
        <div id="pageload">
        <section class="global-page-header">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="block">
                            <h2>Welcome to Origin Galway</h2>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--
        ==================================================
        Slider Section Start
        ================================================== -->
        <section id="hero-area" >
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="block wow fadeInUp" data-wow-delay=".3s">
                            <img src="static/images/slider.jpg" width='100%'>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

        </div>
    </body>
    </html>